@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("Add Movie", "New", "Movies", new { @class = "btn btn-primary" })
<hr />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit/" + movie.Id, "Movies")</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>